
@backAside:#545c64;
@backFFF: #fff;
@backEEE: #eee;
#app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  color: #333;
  cursor: pointer;
  background-color: @backEEE;
}
.el-aside {
  background-color: @backAside;
}
.el-header, .el-footer {
  background-color: @backFFF;
}
.el-main {
  background-color: @backEEE;
  padding: 0;
}